POSTGRES_DB=bolao
POSTGRES_USER=bolao
POSTGRES_PASSWORD=troque-por-uma-senha-grande
DJANGO_SECRET_KEY=gere-uma-chave-longa-com-openssl-rand-base64-48
DJANGO_DEBUG=0
DOMAIN=bolao.seudominio.com
ACME_EMAIL=voce@example.com
DJANGO_ALLOWED_HOSTS=bolao.seudominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://bolao.seudominio.com
DJANGO_SECURE_COOKIES=1
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=0
DJANGO_SECURE_HSTS_PRELOAD=0
FRONTEND_URL=https://bolao.seudominio.com
FOOTBALL_DATA_API_TOKEN=
WEB_PORT=8080

